<h1>Admin Page</h1>


<div class="projects">
  <% @projects.each do |project| %>
    <p><%=link_to project.title, project_path(project)%></p>
  <% end %>
</div>
<div>
<%= render "shared/projectform" %>
</div>
